* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: darkblue;
    --border-standard: 1px solid black;
    --shadow-standard: 0 0 30px gray;
    --img-padding: 2px;
    --spacing: 1rem;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2;
    font-weight: 700;
}

h1 {
    color: var(--primary-color);
    border-bottom: rgb(60, 106, 156);
}

img {
    width: 150px;
    height: auto;
    border: var(--border-standard);
    padding: var(--img-padding);
    box-shadow: var(--shadow-standard);
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: var(--spacing);
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: var(--spacing);
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

main img {
    width: 150px;
    height: auto;
    border: var(--border-standard);
    padding: var(--img-padding);
    box-shadow: var(--shadow-standard);
    float: right;
}

footer {
    margin-top: 15px;
    border-top: var(--border-standard);
    text-align: center;
}

header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
    
}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
/* Class Selectors */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: darkslategray;
    color: #000;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

